<!DOCTYPE html>

<html class="js sizes customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth csscolumns-breakbefore csscolumns-breakafter csscolumns-breakinside flexbox picture srcset webworkers"
    lang="vi">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Cứu Hộ Xe Cơ Giới, Cứu Hộ Giao Thông Tại Khu Vực Đà Nẵng</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">

    <link rel="stylesheet" href="/static/css/animate.css">

    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css'>
    <link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick-theme.css'>

    <link rel="stylesheet" href="/static/css/swiper.min.css">

    <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <link rel="stylesheet" href="/static/css/default.css">

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

    <div class="preloader" style="display: none;">
        <div class="loader">
            <div class="ytp-spinner">
                <div class="ytp-spinner-container">
                    <div class="ytp-spinner-rotator">
                        <div class="ytp-spinner-left">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                        <div class="ytp-spinner-right">
                            <div class="ytp-spinner-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <header class="header-area">
        <div class="navbar-area sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="/">
                                <img src="/static/images/logo.png" alt="Logo">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
              </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="#home">Giới thiệu</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#why">Tính năng</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#features">Quy trình</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#screenshots">Review</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#pricing">Đối tác</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="#download">Tải xuống</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div id="home" class="header-hero bg_cover d-lg-flex align-items-center">
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
            <div class="shape shape-3"></div>
            <div class="shape shape-4"></div>
            <div class="shape shape-5"></div>
            <div class="shape shape-6"></div>
            <div class="container">
                <div class="row align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-lg-6 col-md-10">
                        <div class="header-hero-content">
                            <h3 class="header-title wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.2s; animation-name: fadeInLeftBig;">
                                <span>Xe bị hư</span> cứ để XXX lo.</h3>
                            <p class="text wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: fadeInLeftBig;">
                                XXX là 1 hệ thống với nhiều dịch vụ sửa chữa, cứu hộ giao thông uy tín và chất lượng trên khu vực thành phố Đà Nẵng, sẵn sàng hỗ trợ người sử dụng phương tiện xe cơ giới mọi lúc, mọi nơi, 24/24 kể cả ngày lễ và chủ nhật.</p>
                            <ul class="d-flex">
                                <li><a href="#download" class="main-btn wow fadeInLeftBig page-scroll" data-wow-duration="1.3s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.8s; animation-name: fadeInLeftBig;">Tải
                    App ngay</a></li>
                                <li>
                                    <a href="https://www.youtube.com/watch?v=Yi6Y1gSIyyo" class="header-video video-popup wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="1.2s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 1.2s; animation-name: fadeInLeftBig;"><i class="lni lni-play"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6 col-10">
                        <div class="header-image">
                            <img src="/static/images/header-app.png" alt="app" class="image wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.5s; animation-name: fadeInRightBig;">
                            <div class="image-shape wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.8s; animation-name: fadeInRightBig;">
                                <img src="/static/images/image-shape.svg" alt="shape">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-shape-1 d-none d-md-block"></div>
            <div class="header-shape-2">
                <img src="/static/images/header-shape-2.svg" alt="shape">
            </div>
        </div>
    </header>


    <section id="why" class="services-area pt-110 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-title text-center pb-25">
                        <h3 class="title">Tại sao bạn nên sử dụng XXX ?</h3>
                        <p class="text">Với sự phổ biến của phương tiện xe cơ giới, số lượng xe lưu thông nhiều, tỷ lệ xảy ra hỏng hóc như thủng lốp, sự cố ắc quy, chết máy,… xảy ra thường xuyên, và đây là lí do bạn nên sử dụng XXX.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="single-services services-color-1 text-center mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.2s; animation-name: fadeInUpBig;">
                        <div class="services-icon d-flex align-items-center justify-content-center">
                            <i class="lni lni-layers"></i>
                        </div>
                        <div class="services-content">
                            <h4 class="services-title"><a href="#">Đa Dạng</a></h4>
                            <p class="text">XXX kết nối các Trung tâm cứu hộ, các tiệm sửa xe, garage xe và người cần cứu hộ lại với nhau, cho nên dịch vụ của chúng tôi rất đa dạng.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-services services-color-2 text-center mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.4s; animation-name: fadeInUpBig;">
                        <div class="services-icon d-flex align-items-center justify-content-center">
                            <i class="lni lni-layout"></i>
                        </div>
                        <div class="services-content">
                            <h4 class="services-title"><a href="#">Dễ Sử Dụng</a></h4>
                            <p class="text">Chỉ cần cài đặt App XXX trên các thiết bị di động của mình và lựa chọn dịch vụ cần sử dụng.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-services services-color-3 text-center mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: fadeInUpBig;">
                        <div class="services-icon d-flex align-items-center justify-content-center">
                            <i class="lni lni-bolt"></i>
                        </div>
                        <div class="services-content">
                            <h4 class="services-title"><a href="#">Nhanh Chóng</a></h4>
                            <p class="text">Luôn sẵn sàng phục vụ khách hàng khi khách hàng cần thuê cứu hộ 24/24 giờ mỗi ngày (kể cả những ngày lễ tết).</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="single-services services-color-4 text-center mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.8s; animation-name: fadeInUpBig;">
                        <div class="services-icon d-flex align-items-center justify-content-center">
                            <i class="lni lni-protection"></i>
                        </div>
                        <div class="services-content">
                            <h4 class="services-title"><a href="#">Tiện Lợi</a></h4>
                            <p class="text">Ngồi tại nhà cũng có thể sửa xe, mất chìa khóa, hết xăng hay thậm chí bạn lười tìm tiệm sửa xe, XXX cũng có thể giúp bạn tìm kiếm.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="features-area pt-110" style="overflow:hidden">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 px-2">
                    <div class="section-title text-center pb-25">
                        <h3 class="title">Dịch vụ nổi bật</h3>
                    </div>
                </div>
            </div>
            <div class="justify-content-center">
                <div class="col-12">
                    <div class="row features-items">
                        <div class="col-lg-6 single-features features-color d-sm-flex mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.2s; animation-name: fadeInUpBig;">
                            <div class="col-md-4 d-flex justify-content-center align-items-center">
                                <img src="https://cdn.dealtoday.vn/img/s630x420/75873a206e7a4feca62e36d556239378.jpg?sign=0bbqNM2jI_jsW7KL6_AwwQ" alt="" />
                            </div>
                            <div class="features-content media-body">
                                <h4 class="features-title">Cứu hộ xe máy</h4>
                                <p class="text">Sửa chữa một số lỗi đơn giản như hỏng khóa điện, sự cố về săm lốp, hết bình ắc quy, hết xăng, mất IC... hoặc hỗ trợ bạn đưa xe đến các cửa hàng gần nhất để sửa chữa nếu có hư hỏng lớn xảy ra.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 single-features features-color d-sm-flex mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.4s; animation-name: fadeInUpBig;">
                            <div class="col-md-4 d-flex justify-content-center align-items-center">
                                <img src="https://vnn-imgs-f.vgcloud.vn/2019/05/01/14/xe-cuu-ho.jpg" />
                            </div>
                            <div class="features-content media-body">
                                <h4 class="features-title">Cứu hộ Ôtô</h4>
                                <p class="text">Xe của bạn không thể di chuyển được vì bất cứ lý do nào đó? Hãy gửi yêu cầu cứu hộ đến các trung tâm dịch vụ gần bạn nhất mà XXX kết nối để nhận được sự giúp đỡ.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 single-features features-color d-sm-flex mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: fadeInUpBig;">
                            <div class="col-md-4 d-flex justify-content-center align-items-center">
                                <img src="https://suaxedapdientainha.com/wp-content/uploads/2017/03/sua-xe-dap-dien-cuu-ho-xe-dap-dien-tai-nha-quan-ha-dong-1.jpg" alt="">
                            </div>
                            <div class="features-content media-body">
                                <h4 class="features-title">Cứu hộ xe điện</h4>
                                <p class="text">Sẵn sàng phục vụ bạn tại nhà với thái độ cầu thị, có đầy đủ công cụ sửa chữa, được đào tạo chuyên nghiệp.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 single-features features-color d-sm-flex mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: fadeInUpBig;">
                            <div class="col-md-4 d-flex justify-content-center align-items-center">
                                <img src="https://media.vov.vn/uploaded/ed7pinll54crb7fgmumzw/2020_03_30/unnamed_kxpx.jpg" alt="">
                            </div>
                            <div class="features-content media-body">
                                <h4 class="features-title">Mua xăng hộ</h4>
                                <p class="text">Mua xăng dầu thời cách mạng 4.0, Không lo hết xăng và hết tiền.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 single-features features-color d-sm-flex mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: fadeInUpBig;">
                            <div class="col-md-4 d-flex justify-content-center align-items-center">
                                <img src="https://chuyenxe.com/wp-content/uploads/2019/05/danh-chia-khoa-xe-may.jpg" alt="">
                            </div>
                            <div class="features-content media-body">
                                <h4 class="features-title">Sửa khóa</h4>
                                <p class="text">Cũng có những lúc chúng ta sẽ phải nhờ tới sự trợ giúp của các trung tâm chuyên sửa ổ khóa xe.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 single-features features-color d-sm-flex mt-30 wow fadeInUpBig" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: fadeInUpBig;">
                            <div class="col-md-4 d-flex justify-content-center align-items-center">
                                <img src="https://suaxebinhthanh.net/upload/images/s%E1%BB%ADa%20xe%20l%C6%B0u%20%C4%91%E1%BB%99ng%20(2)(2).jpg" alt="">
                            </div>
                            <div class="features-content media-body">
                                <h4 class="features-title">Sửa xe tại nhà</h4>
                                <p class="text">Bạn lười phải đem xe đi sửa, yên tâm từ bây giờ bạn ngồi ở nhà cũng có thể sửa xe. Đối tác của chúng tôi sẽ đến sửa chữa giúp bạn.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section id="about" class="about-area pt-70 pb-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-image mt-50 wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.5s; animation-name: fadeInLeftBig;">
                        <div class="about-shape"></div>
                        <img class="app" src="/static/images/about-app.png" alt="app">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-content mt-50 wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.5s; animation-name: fadeInRightBig;">
                        <div class="section-title">
                            <h3 class="title">Cài đặt XXX bạn sẽ có tất cả những gì bạn cần.</h3>
                            <p class="text">Xung quanh nơi bạn đứng có bao nhiêu tiệm sửa xe, garage oto hay trung tâm cứu hộ xe? <br> Trung tâm cứu hộ đó có nững dịch vụ gì, giá cả ra sao? Chọn trung tâm nào cho phù hợp? Làm thế nào để liên hệ với họ?
                                <br> Trung tâm cứu hộ, tiệm sửa xe hay Garage Otô đó chất lượng dịch vụ tốt không? Mọi người đánh giá như thế nào?
                                <br><br> <strong>Yên tâm, XXX sẽ cho bạn biết tất cả!</strong>
                            </p>
                        </div>
                        <a href="#download" class="main-btn page-scroll">Cài đặt ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <section id="features" class="screenshots-area pt-110 pb-120">
        <div class="row justify-content-center mx-0">
            <div class="col-lg-7">
                <div class="section-title text-center pb-25">
                    <h3 class="title">Quy trình cứu hộ</h3>
                </div>
            </div>
        </div>
        <!-- Tham khảo timeline https://www.bootdey.com/snippets/view/bs4-Horizontal-timeline --->
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="body">
                            <div class="cd-horizontal-timeline loaded">
                                <div class="timeline">
                                    <div class="events-wrapper">
                                        <div class="events" style="width: 1800px;">
                                            <ol>
                                                <li><a href="#0" data-date="16/01/2017" class="selected" style="left: 120px;">Bước 1</a></li>
                                                <li><a href="#0" data-date="20/05/2017" style="left: 600px;">Bước 2</a></li>
                                                <li><a href="#0" data-date="15/09/2017" style="left: 1020px;">Bước 3</a></li>
                                                <li><a href="#0" data-date="19/01/2018" style="left: 1500px;">Bước 4</a></li>
                                                <li><a href="#0" data-date="03/03/2018" style="left: 2000px;">Done</a></li>
                                            </ol>
                                            <span class="filling-line" aria-hidden="true" style="transform: scaleX(0.281506);"></span>
                                        </div>
                                        <!-- .events -->
                                    </div>
                                    <!-- .events-wrapper -->
                                    <ul class="cd-timeline-navigation">
                                        <li><a href="#0" class="prev inactive">Prev</a></li>
                                        <li><a href="#0" class="next">Next</a></li>
                                    </ul>
                                    <!-- .cd-timeline-navigation -->
                                </div>
                                <!-- .timeline -->
                                <div class="events-content" style="height: auto;">
                                    <ol>
                                        <li class="selected" data-date="16/01/2017">
                                            <h4>Khi xe bạn gặp sự cố</h4>
                                            <hr>
                                            <p>1. Xe gặp sự cố như thủng lốp, sự cố ắc quy, chết máy, gặp tai nạn, mất chìa khóa, hết xăng.
                                            </p>
                                            <p>2. Xe gặp tai nạn khi di chuyển, cần cứu hộ giao thông và sửa chữa khẩn cấp</p>
                                            <p>3. Xe hư đột ngột vào chiều muộn và bạn không biết làm sao sửa xe kịp để đi làm vào ngày mai.
                                            </p>
                                            <p>4. Xe bị chết máy, hỏng hóc giữa đêm.</p>
                                            <p>5. Cần sửa xe nhưng không có đủ thời gian vì phải đi làm suốt tuần.</p>
                                            <p>6. Xe bị hỏng và không tìm được tiệm sửa xe nào gần nhất.</p>
                                        </li>
                                        <li data-date="20/05/2017" class="">
                                            <h4>Hãy mở app lên và tìm kiếm sự trợ giúp</h4>
                                            <hr>
                                            <p>1. Lựa chọn dịch vụ mong muốn</p>
                                            <p>2. Tìm các Trung tâm cứu hộ xe gần nhất để yêu cầu cứu hộ và ứng dụng tìm các tiệm sửa xe, garage gần nhất, đồng thời chỉ đường đến đó</p>
                                            <p>3. Xem thông tin chi tiết về một Trung tâm cứu hộ, Tiệm sửa xe, Garage: giới thiệu, các dịch vụ, giá cả, thời gian hoạt động, phạm vi và ưu đãi.</p>
                                        </li>
                                        <li data-date="15/09/2017" class="">
                                            <h4>Gọi cứu hộ</h4>
                                            <hr>
                                            <p>1. Xác nhận mức độ thiệt hại</p>
                                            <p>2. Gọi yêu cầu cứu hộ. <br>
                                                <i>(Bạn mô tả chính xác chủng loại xe và hiện tượng gặp phải để nhà cung cấp dịch vụ có thể
                          chuẩn bị tốt nhất trước khi di chuyển đến để thực hiện cứu hộ)</i></p>
                                            <p>3. Nhân viên sẽ mang theo đồ nghề, linh kiện hoặc xe cứu hộ đến để hỗ trợ khách hàng.</p>

                                        </li>
                                        <li data-date="19/01/2018">
                                            <h4>Hoàn thành và thanh toán</h4>
                                            <hr>
                                            <p>1. Sau khi cứu hộ thành công, xe hoạt động trở lại bình thường.</p>
                                            <p>2. Khách hàng tiến hành thanh toán cho nhân viên.</p>
                                            <p>3. Khách hàng mở app, đánh giá chất lượng dịch vụ của Trung tâm.</p>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="screenshots" class="screenshots-area pt-110 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-title text-center pb-45">
                        <h3 class="title">App Screenshots.</h3>
                        <p class="text">Dưới đây là một vài hình ảnh về ứng dụng, bao gồm màn hình chính, màn hình lựa chọn dịch vụ, và tìm kiếm cứu hộ...</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="screenshot-slider">
                        <div class="swiper-container swiper-container-coverflow swiper-container-3d swiper-container-initialized swiper-container-horizontal">
                            <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-840px, 0px, 0px);">
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="transition-duration: 0ms; transform: translate3d(160px, 0px, -600px) rotateX(0deg) rotateY(0deg); z-index: -3;">
                                    <div class="slider-image">
                                        <img src="/static/images/screenshot-1.jpg" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="transition-duration: 0ms; transform: translate3d(120px, 0px, -450px) rotateX(0deg) rotateY(0deg); z-index: -2;">
                                    <div class="slider-image">
                                        <img src="/static/images/screenshot-2.jpg" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="transition-duration: 0ms; transform: translate3d(80px, 0px, -300px) rotateX(0deg) rotateY(0deg); z-index: -1;">
                                    <div class="slider-image">
                                        <img src="/static/images/screenshot-3.jpg" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="3" style="transition-duration: 0ms; transform: translate3d(40px, 0px, -150px) rotateX(0deg) rotateY(0deg); z-index: 0;">
                                    <div class="slider-image">
                                        <img src="/static/images/screenshot-4.jpg" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-active" data-swiper-slide-index="0" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px) rotateX(0deg) rotateY(0deg); z-index: 1;">
                                    <div class="slider-image">
                                        <img src="/static/images/screenshot-1.jpg" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-next" data-swiper-slide-index="1" style="transition-duration: 0ms; transform: translate3d(-40px, 0px, -150px) rotateX(0deg) rotateY(0deg); z-index: 0;">
                                    <div class="slider-image">
                                        <img src="/static/images/screenshot-2.jpg" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide" data-swiper-slide-index="2" style="transition-duration: 0ms; transform: translate3d(-80px, 0px, -300px) rotateX(0deg) rotateY(0deg); z-index: -1;">
                                    <div class="slider-image">
                                        <img src="/static/images/screenshot-3.jpg" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate-prev" data-swiper-slide-index="3" style="transition-duration: 0ms; transform: translate3d(-120px, 0px, -450px) rotateX(0deg) rotateY(0deg); z-index: -2;">
                                    <div class="slider-image">
                                        <img src="/static/images/screenshot-4.jpg" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" style="transition-duration: 0ms; transform: translate3d(-160px, 0px, -600px) rotateX(0deg) rotateY(0deg); z-index: -3;">
                                    <div class="slider-image">
                                        <img src="/static/images/screenshot-1.jpg" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" data-swiper-slide-index="1" style="transition-duration: 0ms; transform: translate3d(-200px, 0px, -750px) rotateX(0deg) rotateY(0deg); z-index: -4;">
                                    <div class="slider-image">
                                        <img src="/static/images/screenshot-2.jpg" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="transition-duration: 0ms; transform: translate3d(-240px, 0px, -900px) rotateX(0deg) rotateY(0deg); z-index: -5;">
                                    <div class="slider-image">
                                        <img src="/static/images/screenshot-3.jpg" alt="screenshot">
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="3" style="transition-duration: 0ms; transform: translate3d(-280px, 0px, -1050px) rotateX(0deg) rotateY(0deg); z-index: -6;">
                                    <div class="slider-image">
                                        <img src="/static/images/screenshot-4.jpg" alt="screenshot">
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"><span class="swiper-pagination-bullet swiper-pagination-bullet-active" role="button" aria-label="Go to slide 1"></span><span class="swiper-pagination-bullet" role="button" aria-label="Go to slide 2"></span><span class="swiper-pagination-bullet"
                                    role="button" aria-label="Go to slide 3"></span><span class="swiper-pagination-bullet" role="button" aria-label="Go to slide 4"></span></div>
                            <div class="screenshot-frame d-none d-sm-block">
                                <img src="/static/images/app-frame.png" alt="frame">
                            </div>
                            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="testimonial-area pt-110 pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-title text-center pb-45">
                        <h3 class="title">Đánh giá từ khách hàng.</h3>
                        <p class="text">Đây là những đánh giá mới nhất của khách hàng sau khi đã sử dụng ứng dụng của chúng tôi.</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9">
                    <div class="testimonial-wrapper">
                        <div class="slider-for">
                            <div class="img-responsive single-testimonial-content text-center" data-slick-index="0" aria-hidden="false" style="width: 795px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                                <div class="testimonial-quote">
                                    <svg xmlns="https://www.w3.org/2000/svg" width="51.334" height="38.5" viewBox="0 0 51.334 38.5" class="svg replaced-svg">
                        <path id="Icon_open-double-quote-serif-left" data-name="Icon open-double-quote-serif-left"
                          d="M19.25,0A19.307,19.307,0,0,0,0,19.25V38.5H19.25V19.25H6.417A12.789,12.789,0,0,1,19.25,6.417ZM51.334,0a19.307,19.307,0,0,0-19.25,19.25V38.5h19.25V19.25H38.5A12.789,12.789,0,0,1,51.334,6.417Z"
                          fill="#0898e7"></path>
                      </svg>
                                </div>
                                <div class="testimonial-text">
                                    <p class="text">Lorem ipsum dolor situt amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempo invidunt labore et dolore magna aliquyam erat, sed diam voluptua. At vero eoset accusam et justo duo dolores et ea rebum. Stet
                                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor amet sadipscing elitr.</p>
                                    <h4 class="holder-name">Linda Sophia</h4>
                                    <span class="sub-title">Designer, SpaceX</span>
                                </div>
                            </div>
                            <div class="img-responsive single-testimonial-content text-center " data-slick-index="1" aria-hidden="true" style="width: 795px; position: relative; left: -825px; top: 0px; z-index: 998; opacity: 0;">
                                <div class="testimonial-quote">
                                    <svg xmlns="https://www.w3.org/2000/svg" width="51.334" height="38.5" viewBox="0 0 51.334 38.5" class="svg replaced-svg">
                        <path id="Icon_open-double-quote-serif-left" data-name="Icon open-double-quote-serif-left"
                          d="M19.25,0A19.307,19.307,0,0,0,0,19.25V38.5H19.25V19.25H6.417A12.789,12.789,0,0,1,19.25,6.417ZM51.334,0a19.307,19.307,0,0,0-19.25,19.25V38.5h19.25V19.25H38.5A12.789,12.789,0,0,1,51.334,6.417Z"
                          fill="#0898e7"></path>
                      </svg>
                                </div>
                                <div class="testimonial-text">
                                    <p class="text">Lorem ipsum dolor situt amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempo invidunt labore et dolore magna aliquyam erat, sed diam voluptua. At vero eoset accusam et justo duo dolores et ea rebum. Stet
                                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor amet sadipscing elitr.</p>
                                    <h4 class="holder-name">Michel Jhonsmith</h4>
                                    <span class="sub-title">CEO, OnePlus</span>
                                </div>
                            </div>
                            <div class="img-responsive single-testimonial-content text-center " data-slick-index="2" aria-hidden="true" style="width: 795px; position: relative; left: -1650px; top: 0px; z-index: 998; opacity: 0;">
                                <div class="testimonial-quote">
                                    <svg xmlns="https://www.w3.org/2000/svg" width="51.334" height="38.5" viewBox="0 0 51.334 38.5" class="svg replaced-svg">
                        <path id="Icon_open-double-quote-serif-left" data-name="Icon open-double-quote-serif-left"
                          d="M19.25,0A19.307,19.307,0,0,0,0,19.25V38.5H19.25V19.25H6.417A12.789,12.789,0,0,1,19.25,6.417ZM51.334,0a19.307,19.307,0,0,0-19.25,19.25V38.5h19.25V19.25H38.5A12.789,12.789,0,0,1,51.334,6.417Z"
                          fill="#0898e7"></path>
                      </svg>
                                </div>
                                <div class="testimonial-text">
                                    <p class="text">Lorem ipsum dolor situt amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempo invidunt labore et dolore magna aliquyam erat, sed diam voluptua. At vero eoset accusam et justo duo dolores et ea rebum. Stet
                                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor amet sadipscing elitr.</p>
                                    <h4 class="holder-name">John Doe</h4>
                                    <span class="sub-title">CEO, UIdeck</span>
                                </div>
                            </div>
                            <div class="img-responsive single-testimonial-content text-center " data-slick-index="3" aria-hidden="true" style="width: 795px; position: relative; left: -2475px; top: 0px; z-index: 998; opacity: 0;">
                                <div class="testimonial-quote">
                                    <svg xmlns="https://www.w3.org/2000/svg" width="51.334" height="38.5" viewBox="0 0 51.334 38.5" class="svg replaced-svg">
                        <path id="Icon_open-double-quote-serif-left" data-name="Icon open-double-quote-serif-left"
                          d="M19.25,0A19.307,19.307,0,0,0,0,19.25V38.5H19.25V19.25H6.417A12.789,12.789,0,0,1,19.25,6.417ZM51.334,0a19.307,19.307,0,0,0-19.25,19.25V38.5h19.25V19.25H38.5A12.789,12.789,0,0,1,51.334,6.417Z"
                          fill="#0898e7"></path>
                      </svg>
                                </div>
                                <div class="testimonial-text">
                                    <p class="text">Lorem ipsum dolor situt amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempo invidunt labore et dolore magna aliquyam erat, sed diam voluptua. At vero eoset accusam et justo duo dolores et ea rebum. Stet
                                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor amet sadipscing elitr.</p>
                                    <h4 class="holder-name">Windy Lisa</h4>
                                    <span class="sub-title">Founder, PageBulb</span>
                                </div>
                            </div>
                            <div class="img-responsive single-testimonial-content text-center " data-slick-index="4" aria-hidden="true" style="width: 795px; position: relative; left: -3300px; top: 0px; z-index: 998; opacity: 0;">
                                <div class="testimonial-quote">
                                    <svg xmlns="https://www.w3.org/2000/svg" width="51.334" height="38.5" viewBox="0 0 51.334 38.5" class="svg replaced-svg">
                        <path id="Icon_open-double-quote-serif-left" data-name="Icon open-double-quote-serif-left"
                          d="M19.25,0A19.307,19.307,0,0,0,0,19.25V38.5H19.25V19.25H6.417A12.789,12.789,0,0,1,19.25,6.417ZM51.334,0a19.307,19.307,0,0,0-19.25,19.25V38.5h19.25V19.25H38.5A12.789,12.789,0,0,1,51.334,6.417Z"
                          fill="#0898e7"></path>
                      </svg>
                                </div>
                                <div class="testimonial-text">
                                    <p class="text">Lorem ipsum dolor situt amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempo invidunt labore et dolore magna aliquyam erat, sed diam voluptua. At vero eoset accusam et justo duo dolores et ea rebum. Stet
                                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor amet sadipscing elitr.</p>
                                    <h4 class="holder-name">Musharof Chowdhury</h4>
                                    <span class="sub-title">CEO, GrayGrids</span>
                                </div>
                            </div>
                            <div class="img-responsive single-testimonial-content text-center " data-slick-index="5" aria-hidden="true" style="width: 795px; position: relative; left: -4125px; top: 0px; z-index: 998; opacity: 0;">
                                <div class="testimonial-quote">
                                    <svg xmlns="https://www.w3.org/2000/svg" width="51.334" height="38.5" viewBox="0 0 51.334 38.5" class="svg replaced-svg">
                        <path id="Icon_open-double-quote-serif-left" data-name="Icon open-double-quote-serif-left"
                          d="M19.25,0A19.307,19.307,0,0,0,0,19.25V38.5H19.25V19.25H6.417A12.789,12.789,0,0,1,19.25,6.417ZM51.334,0a19.307,19.307,0,0,0-19.25,19.25V38.5h19.25V19.25H38.5A12.789,12.789,0,0,1,51.334,6.417Z"
                          fill="#0898e7"></path>
                      </svg>
                                </div>
                                <div class="testimonial-text">
                                    <p class="text">Lorem ipsum dolor situt amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempo invidunt labore et dolore magna aliquyam erat, sed diam voluptua. At vero eoset accusam et justo duo dolores et ea rebum. Stet
                                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor amet sadipscing elitr.</p>
                                    <h4 class="holder-name">Lisa Smith</h4>
                                    <span class="sub-title">Designer, LineIcons</span>
                                </div>
                            </div>

                        </div>
                        <div class="slider-nav col-12 px-sm-1 ml-sm-3">
                            <div class="item 1">
                                <img src="static/images/author-1.jpg" alt="author" class="img-responsive">
                            </div>
                            <div class="item 2">
                                <img src="static/images/author-2.jpg" alt="author" class="img-responsive">
                            </div>
                            <div class="item 3">
                                <img src="static/images/author-3.jpg" alt="author" class="img-responsive">
                            </div>
                            <div class="item 4">
                                <img src="static/images/author-4.jpg" alt="author" class="img-responsive">
                            </div>
                            <div class="item 5">
                                <img src="static/images/author-5.jpg" alt="author" class="img-responsive">
                            </div>
                            <div class="item 6">
                                <img src="static/images/author-6.jpg" alt="author" class="img-responsive">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section id="pricing" class="pricing-area pt-40 pb-40">
        <div class="container align-self-center h-100">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="section-title text-center pb-30">
                        <h3 class="title">Đăng ký trở thành đối tác.</h3>
                        <p class="text">Bạn mong muốn dịch vụ của mình sẽ được xuất hiện trong app của chúng tôi, bạn muốn nhiều người biết đến dịch vụ của mình hơn. Hãy đăng ký trở thành đối tác của chúng tôi, chúng tôi cam kết sẽ mang đến lượng khách hàng tiềm năng
                            cho dịch vụ của bạn, giúp doanh thu dịch vụ của bạn tăng nhanh chóng.
                        </p>
                    </div>
                    <center><a class="btn btn-primary" href="./dang-ky-doi-tac">Đăng ký ngay</a></center>
                </div>
            </div>
        </div>
    </section>


    <section id="download" class="download-area pt-70 pb-40">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 col-md-9">
                    <div class="download-image mt-50 wow fadeInRightBig" data-wow-duration="1.3s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.2s; animation-name: fadeInRightBig;">
                        <img class="image" src="/static/images/download-app.png" alt="download">
                        <div class="download-shape-1"></div>
                        <div class="download-shape-2">
                            <svg xmlns="https://www.w3.org/2000/svg" width="356.369" height="329.287" viewBox="0 0 356.369 329.287" class="svg replaced-svg">
                <path id="Path_90" data-name="Path 90"
                  d="M152.2,28.368c83.2,0,149.1-71.2,149.1,12a150.648,150.648,0,0,1-301.3,0C0-42.833,69,28.368,152.2,28.368Z"
                  transform="matrix(0.819, -0.574, 0.574, 0.819, 0, 172.816)" fill="#0898e7"></path>
              </svg>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="download-content mt-45 wow fadeInLeftBig" data-wow-duration="1.3s" data-wow-delay="0.5s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.5s; animation-name: fadeInLeftBig;">
                        <h3 class="download-title">Tải và cài đặt ứng dụng ngay bây giờ!</h3>
                        <p class="text">Đây sẽ công cụ vô cùng hữu ích mà bạn sẽ cần mỗi ngày, bạn sẽ tiết kiệm được rất nhiều thời gian & công sức hơn khi sử dụng ứng dụng của chúng tôi.</p>
                        <ul>
                            <li>
                                <a class="app-store" href="#"><img src="/static/images/app-store.png" alt="store"></a>
                            </li>
                            <li>
                                <a class="play-store" href="#"><img src="/static/images/play-store.png" alt="store"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <footer id="footer" class="footer-area">
        <div class="footer-shape shape-1"></div>
        <div class="footer-shape shape-2"></div>
        <div class="footer-shape shape-3"></div>
        <div class="footer-shape shape-4"></div>
        <div class="footer-shape shape-5"></div>
        <div class="footer-shape shape-6"></div>
        <div class="footer-shape shape-7"></div>
        <div class="footer-shape shape-8">
            <svg xmlns="https://www.w3.org/2000/svg" width="119.496" height="96.771" viewBox="0 0 119.496 96.771" class="svg replaced-svg">
        <g id="Group_173" data-name="Group 173" transform="translate(-1768.066 -254.709)">
          <path id="Path_83" data-name="Path 83"
            d="M1614.942,311.638s11.066-20.12,26.156-11.066,21.126-1.006,24.144-13.078,16.1-12.072,27.163-9.054,26.156,1.006,26.156-15.09"
            transform="translate(154 -8.641)" fill="none" stroke="#6f0298" stroke-width="2" opacity="0.55"></path>
          <path id="Path_84" data-name="Path 84"
            d="M1614.942,311.638s11.066-20.12,26.156-11.066,21.126-1.006,24.144-13.078,16.1-12.072,27.163-9.054,26.156,1.006,26.156-15.09"
            transform="translate(164 15.359)" fill="none" stroke="#eba31a" stroke-width="2" opacity="0.55"></path>
          <path id="Path_85" data-name="Path 85"
            d="M1614.942,311.638s11.066-20.12,26.156-11.066,21.126-1.006,24.144-13.078,16.1-12.072,27.163-9.054,26.156,1.006,26.156-15.09"
            transform="translate(168 39.359)" fill="none" stroke="#0797e6" stroke-width="2" opacity="0.55"></path>
        </g>
      </svg>
        </div>
        <div class="footer-widget pt-30 pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-about mt-50 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.2s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.2s; animation-name: fadeIn;">
                            <a class="logo" href="#">
                                <img src="/static/images/logo.png" alt="Logo">
                            </a>
                            <p class="text">Lorem ipsum dolor sit amet consetetur sadipscing elitr, sederfs diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                            <ul class="social">
                                <li><a href="#"><i class="lni lni-facebook"></i></a></li>
                                <li><a href="#"><i class="lni lni-twitter"></i></a></li>
                                <li><a href="#"><i class="lni lni-instagram"></i></a></li>
                                <li><a href="#"><i class="lni lni-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-6">
                        <div class="footer-link d-flex flex-wrap">
                            <div class="footer-link-wrapper mt-45 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.4s; animation-name: fadeIn;">
                                <div class="footer-title">
                                    <h4 class="title">Quick Links</h4>
                                </div>
                                <ul class="link">
                                    <li><a class="" href="#">Home</a></li>
                                    <li><a class="" href="#">Features</a></li>
                                    <li><a class="" href="#">Testimonial</a></li>
                                    <li><a class="" href="#">Pricing</a></li>
                                    <li><a class="" href="#">Contact</a></li>
                                </ul>
                            </div>
                            <div class="footer-link-wrapper mt-45 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.6s; animation-name: fadeIn;">
                                <div class="footer-title">
                                    <h4 class="title">Support</h4>
                                </div>
                                <ul class="link">
                                    <li><a class="" href="#">FAQ</a></li>
                                    <li><a class="" href="#">Privacy Policy</a></li>
                                    <li><a class="" href="#">Terms Of Use</a></li>
                                    <li><a class="" href="#">Legal</a></li>
                                    <li><a class="" href="#">Site Map</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-contact mt-45 wow fadeIn" data-wow-duration="1.3s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 1.3s; animation-delay: 0.8s; animation-name: fadeIn;">
                            <div class="footer-title">
                                <h4 class="title">Quick Link</h4>
                            </div>
                            <ul class="contact-list">
                                <li>
                                    <div class="contact-info d-flex">
                                        <div class="info-content media-body">
                                            <p class="text"><i class="lni lni-phone"></i> +809272561823</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info d-flex">
                                        <div class="info-content media-body">
                                            <p class="text"><a href="#"><i class="lni lni-envelope"></i> info@appland.com</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info d-flex">
                                        <div class="info-content media-body">
                                            <p class="text"><a href="#"><i class="lni lni-world"></i>
                          www.yourweb.com</a></p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="contact-info d-flex">
                                        <div class="info-content media-body">
                                            <p class="text"><i class="lni lni-map"></i> 123 Stree New York City , United States Of America 750.
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright d-sm-flex justify-content-between">
                            <div class="copyright-text text-center">
                                <p class="text">©Copyright by <a rel="nofollow" href="#">Hiếu Hằng Team</a></p>
                            </div>
                            <div class="copyright-privacy text-center">
                                <a href="#"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <a href="#" class="back-to-top" style="display: inline-block;"><i class="lni lni-chevron-up"></i></a>





    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
    <script src='https://cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js'></script>
    <script src="/static/js/modernizr-3.7.1.min.js" type="text/javascript"></script>

    <script src="/static/js/popper.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>

    <script src="/static/js/jquery.magnific-popup.min.js" type="text/javascript"></script>

    <script src="/static/js/wow.min.js" type="text/javascript"></script>

    <script src="/static/js/swiper.min.js" type="text/javascript"></script>

    <script src="/static/js/jquery.easing.min.js" type="text/javascript"></script>
    <script src="/static/js/scrolling-nav.js" type="text/javascript"></script>

    <script src="/static/js/main.js" type="text/javascript"></script>
    <script src="/static/js/timeline.js" type="text/javascript"></script>
    <%- include('botchat'); %>
</body>

</html>